<div class="container my-4">
  <h2 class="mb-4">Mes commandes</h2>

  <div *ngIf="commandes.length > 0; else noCommande">
    <div class="row" *ngFor="let commande of commandes">
      <div class="col-12 mb-4">
        <div class="card shadow-sm border-0">
          <div class="card-header text-black d-flex justify-content-between">
            <strong><i class="fas fa-shopping-bag me-2"></i>Code Commande {{ commande.id }}</strong>
            <span>Total : {{ commande.total }} TND</span>
          </div>

          <div class="card-body">
            <p><strong><i class="fas fa-map-marker-alt me-2"></i>Adresse de livraison :</strong> {{ commande.adresseLivraison }}</p>

           
            <div class="table-responsive">
              <table class="table table-bordered table-sm align-middle">
                <thead>
                  <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Total</th>
                    <th>Statut</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ligne of commande.lignesPanier">
                    <td>{{ ligne.article?.name || 'Chargement...' }}</td>
                    <td>{{ ligne.quantite }}</td>
                    <td>{{ ligne.prixUnitaire }} TND</td>
                    <td>{{ ligne.total }} TND</td>
                    <td>
                      <span
                        [ngClass]="{
                          'badge': true,
                          'bg-succ': ligne.statut === 'LIVRER_FR',
                          'bg-warn': ligne.statut === 'COMMANDEE',
                          'bg-prim': ligne.statut === 'VALIDER',
                          'bg-inf': ligne.statut === 'PAYER',
                          'bg-dang': ligne.statut === 'ANNULER'
                        }">
                        {{ ligne.statut }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card-footer text-muted">
            <i class="far fa-calendar-alt me-2"></i>Date : {{ commande.dateCommande | date: 'medium' }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noCommande>
    <div class="alert">
      Aucune commande validée pour l'instant.
    </div>
  </ng-template>
</div>
