<div class="container mt-4">
    <div class="card p-4 shadow-lg">
      <!-- Icône en haut -->
      <div class="text-center mb-3">
        <i class="fas fa-shoe-prints fa-3x " style="color: yellowgreen;"></i> <!-- Icône chaussure -->
        <h5 class=" mt-2" style="color: yellowgreen;font-size: larger;">Créer un Produit</h5>
      </div>
      <hr />
  
      <form #userForm="ngForm" (ngSubmit)="saveProduit()" novalidate>
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Référence</label>
              <input type="text" class="form-control" [(ngModel)]="produitForm.ref" name="ref" required />
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Nom</label>
              <input type="text" class="form-control" [(ngModel)]="produitForm.name" name="name" required />
            </div>
          </div>
        </div>
  
        <div class="form-group mb-4">
          <label class="font-weight-bold">Description</label>
          <textarea class="form-control" [(ngModel)]="produitForm.description" name="description" required></textarea>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Quantité</label>
              <input type="number" class="form-control" [(ngModel)]="produitForm.qte" name="qte" required />
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Prix Fournisseur</label>
              <input type="number" class="form-control" [(ngModel)]="produitForm.prixFournisseur" name="prixFournisseur" required />
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Prix Vente</label>
              <input type="number" class="form-control" [(ngModel)]="produitForm.prixVente" name="prixVente" required />
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Couleur</label>
              <select class="form-control" [(ngModel)]="produitForm.couleur" name="couleur" required>
                <option value="NOIR">Noir</option>
                <option value="MARRON">Marron</option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Genre</label>
              <select class="form-control" [(ngModel)]="produitForm.genre" name="genre" required>
                <option value="HOMME">Homme</option>
                <option value="FEMME">Femme</option>
              </select>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="form-group mb-4">
              <label class="font-weight-bold">Tissu</label>
              <select class="form-control" [(ngModel)]="produitForm.tissu" name="tissu" required>
                <option value="CUIR">Cuir</option>
                <option value="DAIN">Dain</option>
              </select>
            </div>
          </div>
        </div>
  
        
   
          
          
  
        <!-- Boutons -->
        <div class="d-flex justify-content-between mt-4">
          <button type="button" (click)="redirectToProduits()" class="btn btn-secondary">
            <i class="feather icon-arrow-left"></i> Retour
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="feather icon-save"></i> Créer
          </button>
        </div>
  
      </form>
    </div>
  </div>
  