<div class="cardShadow">
  <div class="button-container">
    <button type="button" (click)="redirectToCreateArticle()" class="custom-button">
      <i class="bi bi-plus-circle"></i> NOUVEL ARTICLE
    </button>
  </div>

  <br>

  <div class="table-wrapper">
    <div class="table-container">
      <table class="custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Référence</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix Fournisseur</th>
            <th>Prix Vente</th>
            <th>Genre</th>
            <th>Tissu</th>
            <th>Stock</th>
            <th>Catégorie</th>
            <th>Photos</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of allArticle">
            <td class="bold-text">{{ article.id }}</td>
            <td class="bold-text">{{ article.ref }}</td>
            <td class="bold-text">{{ article.name }}</td>
            <td class="bold-text">{{ article.description }}</td>
            <td class="price-text bold-text">{{ article.prixFournisseur }} dt</td>
            <td class="price-text bold-text">{{ article.prixVente }} dt</td>
            <td class="bold-text">{{ article.genre }}</td>
            <td>{{ article.tissu }}</td>
        
            <td>
              <div *ngIf="article.stocks && article.stocks.length > 0; else noStock">
                <table class="stock-table">
                  <tbody>
                    <tr *ngFor="let stock of article.stocks">
                      <td>{{ stock.couleur.nom }}</td>
                      <td>{{ stock.pointure.taille }}</td>
                      <td>{{ stock.quantite }}(pièce)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noStock>
                <span class="no-data">Aucun stock</span>
              </ng-template>
            </td>

            
            <td>
              <span class="category-badge" *ngIf="article.category">{{ article.category.name }}</span>
              <span class="no-data" *ngIf="!article.category">Aucune</span>
            </td>

            <td>
              <div class="photo-container">
                <img *ngFor="let photo of article.photos" 
                     [src]="photo.url" 
                     [alt]="photo.name" 
                     class="photo-thumbnail">
              </div>
              <div *ngIf="!article.photos || article.photos.length === 0">
                <span class="no-data">Aucune photo</span>
              </div>
            </td>

            <td>
              <span 
                [ngClass]="{
                  'badge bg-warn': article.statut === 'EN_ATTENTE',
                  'badge bg-succ': article.statut === 'ACCEPTE',
                  'badge bg-dang': article.statut === 'REFUSE'
                }">
                {{ article.statut }}
              </span>
            </td>

            <td>
              <div class="button-group">
                <button (click)="navigateToEditArticle(article.id)" class="btn edit">
                  Modifier
                </button>
                <button (click)="delete(article)" class="btn danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
