<div class="commande-details">
  <h2>Détails de la commande</h2>

  <p><strong>Adresse de Livraison:</strong> {{ panier.adresseLivraison }}</p>
  <p><strong>Total de la commande:</strong> {{ panier.total }} €</p>

  <h3>Articles Commandés:</h3>
  <ul>
    <li *ngFor="let ligne of panier.lignesPanier">
      {{ ligne.article.name }} - {{ ligne.quantite }} x {{ ligne.prixUnitaire }} €
    </li>
  </ul>

  <!-- Bouton pour lancer le paiement PayPal -->
  <button *ngIf="panier.statut !== 'COMMANDEE' && !payer" (click)="payement()">Payer en ligne</button>

  <!-- Bouton pour valider la commande après le paiement -->
  <button *ngIf="payer" (click)="validerCommande()">Valider la commande</button>

  <!-- Conteneur du bouton PayPal, rendu dynamiquement -->
  <div *ngIf="payer">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>

</div>
