.col-lg-2{
    width: 20vw;
}


.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff; /* ✅ Ajoute une bordure blanche par défaut */
}

.color-circle:hover {
    transform: scale(1.1);
}

.color-circle.selected {
    border: 1px solid black !important; /* ✅ Indique la sélection */
    transform: scale(1.2);
}



.btn.active {
    background-color: #000000;
    color: white;
}


.btn:hover {
    background-color: #000000;
    color: white;
}
