<div class="dashboard-container">
    <!-- Menu latéral -->
    <nav class="sidebar">
      <ul>
        <li><a routerLink="/fournisseur/produits">Produits</a></li>
        <li><a routerLink="/fournisseur/commandes">Commandes</a></li>
        <li><a routerLink="/fournisseur/profil">Profil</a></li>
        <li><a routerLink="/fournisseur/statistiques">Statistiques</a></li>
      </ul>
    </nav>
  
    <!-- Contenu principal -->
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  