<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="text-center mt-4">
          <button type="button" (click)="redirectToArticles()" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>

        <h4 class="text-center mt-3">Modifier Article</h4>
        <hr />
        <form #userForm="ngForm" (ngSubmit)="update()" novalidate>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Référence</label>
                <input type="text" class="form-control" [(ngModel)]="articleForm.ref" name="ref" required />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" [(ngModel)]="articleForm.name" name="name" required />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="articleForm.description" name="description" required></textarea>
          </div>

          <div>
            <label for="couleur">Couleur</label>
            <select id="couleur" [(ngModel)]="selectedCouleur" name="couleur">
              <option *ngFor="let couleur of couleursDisponibles" [ngValue]="couleur">{{ couleur.nom }}</option>
            </select>
          </div>
          
          <div>
            <label for="pointure">Pointure</label>
            <select id="pointure" [(ngModel)]="selectedPointure" name="pointure">
              <option *ngFor="let pointure of pointuresDisponibles" [ngValue]="pointure">{{ pointure.taille }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="quantite">Quantité</label>
            <input type="number" id="quantite" class="form-control" [(ngModel)]="quantite" name="quantite" required />
          </div>

          <button type="button" class="btn btn-secondary" (click)="generateStocks()">Ajouter Stock</button>

          <div *ngFor="let stock of articleStocks">
            <p>Stock ajouté - Couleur: {{ stock.couleur.nom }} - Pointure: {{ stock.pointure.taille }} - Quantité: {{ stock.quantite }}</p>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Prix Fournisseur</label>
                <input type="number" class="form-control" [(ngModel)]="articleForm.prixFournisseur" name="prixFournisseur" required />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Prix Vente</label>
                <input type="number" class="form-control" [(ngModel)]="articleForm.prixVente" name="prixVente" required />
              </div>
            </div>
          </div>

          <!-- Sélection des photos -->
          <div class="form-group">
            <label>Photos</label>
            <div class="photo-select">
              <div *ngFor="let option of allPhoto" class="photo-option">
                <input type="checkbox" [id]="'photo' + option.id" [value]="option.id" name="photos"
                    (change)="togglePhotoSelection(option)"
                    [checked]="isPhotoSelected(option)" />
                <label [for]="'photo' + option.id">
                  <img [src]="'http://localhost:8080/uploads/' + option.name" class="article-photo" />
                </label>
              </div>
            </div>
          </div>

          <!-- Boutons d'action -->
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Enregistrer</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
