.btnC{background-color: #63a50a;}
.icon-links {
    display: flex;
    align-items: center;
    padding: 10px;

    gap: 15px;
}
.icon-link {
    font-size: 40px;
    color: #4c2b17;
    text-decoration: none;
}

.regis-container {
    height: 100vh;
    display: flex;
    justify-content: center;
      align-items: flex-start; /* Modifié de center à flex-start */
    padding: 70px 20px; /* Ajoute du padding pour l'espace en haut */
  }
  
  .card {
    max-width: 600px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);

  }
  
  .position-relative {
    position: relative;
  }

  .custom-google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    i {
      font-size: 1.5rem;
      color: #db4437;
      margin-right: 10px;
    }
  
    &:hover {
      background-color: #f8f9fa;
      border-color: #aaa;
    }
  }

  .btn-marron {
    background-color: #3c2313;
    color: white;
    animation: pulse 2s infinite;
  }
  

  