<div class="login-container" style=" background: url('assets/logo.png') no-repeat center center/cover;">
  <div class="card mx-auto">
    <div class="card-body position-relative">
      
      <!-- ✅ Bouton Retour en haut à gauche -->
      <button class="btn btn-outline-secondary position-absolute" style="top: 10px; left: 10px;" (click)="goBack()">
        <i class="bi bi-arrow-left"></i> Retour
      </button>

      <!-- ✅ Titre avec icône de client centré -->
      <div class="text-center mt-4">
        <i class="bi bi-person-circle" style="font-size: 2rem; display: block; margin-bottom: 10px;"></i>
        <h3>Se Connecter</h3>
      </div>
      
      <form (ngSubmit)="onSubmit()" class="mb-3">
        <div class="mb-3">
          <label for="username" class="form-label">Nom</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-person"></i>
            </span>
            <input 
              id="username" 
              [(ngModel)]="form.username" 
              name="username" 
              type="text" 
              class="form-control" 
              placeholder="Nom" 
              required />
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-lock"></i>
            </span>
            <input 
              id="password" 
              [(ngModel)]="form.password" 
              name="motDePasse" 
              type="password" 
              class="form-control" 
              placeholder="Mot de passe" 
              required />
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
      </form>

      <p class="text-center mt-3">
        Vous n'avez pas de compte ? <a [routerLink]="['/auth/client/register']" [queryParams]="getQueryParams()" class="text-primary">Créez-en un ici</a>
      </p>

      <div class="mt-5 text-center">
        <button class="btn btn-outline-danger w-100 mb-2" (click)="signInWithGoogle()">
          <i class="bi bi-google"></i> Se connecter avec Google
        </button>
    
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
